<!DOCTYPE html>
<html lang="en">
    {{>head}}
    <body id="page-top">
        {{>nav}}
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="apielogo" src="assets/img/img_apie.png" alt="..." />
               <!--   <img class="masthead-avatar mb-6" src="assets/img/img_apie.png" alt="..." /> -->
                <!-- Masthead Heading-->
                <h1 class="masthead-heading font-weight-height mt-4 mb-0">Jūsų automobilis mūsų rūpestis... </h1>
                <!-- Icon Divider-->
                
                <!-- Masthead Subheading-->
               
            </div>
        </header>
        <!-- Portfolio Section-->
        <!-- About Section-->
        <section class="page-section  mb-4" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase mb-4 ">Mūsų darbai</h2>
                <!-- Icon Divider-->
             
                <!-- About Section Content-->
                <div class="row mb-4">
                    <div class="col-lg-5 ms-auto">
                       <img class="apielogo" src="assets/img/darbai1.jpg" alt="..." />
                        </div>

                    <div class="col-lg-5 me-auto"> <img class="apielogo" src="assets/img/darbai2.png" alt="..." /></div>
                </div>

                     <div class="row mb-4">
                    <div class="col-lg-5 ms-auto">
                       <img class="apielogo" src="assets/img/darbai3.jpg" alt="..." />
                        </div>

                    <div class="col-lg-5 me-auto"> <img class="apielogo" src="assets/img/darbai4.jpg" alt="..." /></div>
                </div>

                     <div class="row mb-0">
                    <div class="col-lg-5 ms-auto">
                       <img class="apielogo" src="assets/img/darbai5.jpg" alt="..." />
                        </div>

                    <div class="col-lg-5 me-auto"> <img class="apielogo" src="assets/img/darbai6.png" alt="..." /></div>
                </div>



                <!-- About Section Button-->
                
            </div>
        </section>
       
        <!-- Footer-->
        {{>footer}}
    </body>
</html>
